<div class="card">
  <div class="card-body">
    <div class="attribute-container">
      <h5 class="titulo_card">{{ Product.title }}</h5>
      <img [src]="Product.images" class="card-img" alt="{{ Product.name }}">
      <h5 class="subtitulo_card">{{ Product.price }}</h5>
      <h5 class="estado_card">{{ Product.description }}</h5>
    </div>
    
    <div class="button-container" fxLayout="row" fxLayoutAlign="space-between">
      <button class="boton edit-button" (click)="openEditModal()">Editar</button>
      <button class="btn btn-danger delete-button" (click)="onDeleteClick()">Eliminar</button>
    </div>
  </div>

  <div class="modal" *ngIf="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Editar Producto</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="closeEditModal()"></button>
        </div>
        <div class="modal-body">
          <div>
            <label for="edit-title">Id:</label>
            <input type="text" id="edit-id" [formControl]="id" class="form-control">
          </div>
          <div>
            <label for="edit-title">Título:</label>
            <input type="text" id="edit-title" [formControl]="title" class="form-control">
          </div>
          <div>
            <label for="edit-price">Precio:</label>
            <input type="number" id="edit-price" [formControl]="price" class="form-control">
          </div>
          <div>
            <label for="edit-description">Descripción:</label>
            <input type="text" id="edit-description" [formControl]="description" class="form-control">
          </div>
          <div>
            <label for="edit-images">Imagen:</label>
            <input type="text" id="edit-images" [formControl]="images" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeEditModal()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="saveChanges()">Guardar Cambios</button> 
        </div>
      </div>
    </div>
  </div>
</div>
