.btn {
    background-color: #002efa; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  
  .btn:hover {
    opacity: 0.8;
  }
  
  
  .edit-button {
    background-color: #008CBA; 
  }   
  
  
  .delete-button {
    background-color: #f44336; 
  }
  .attribute-container {
    display: table ;
    padding: 100 px; 
    margin-bottom: 40px; 
    background-color: #ffffff; 
    border-radius: 10px; 
  }
  .card-img {
  
      max-width: 100%;
      height: auto;
    
    
  }
  
  .modal {
    display: block; /* Asegúrate de cambiarlo a block cuando quieras mostrar el modal */
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0,0,0,0.5); /* Fondo oscuro */
  }
  
  .modal-dialog {
    position: relative;
    margin: 10% auto;
    max-width: 500px;
  }
  
  .modal-content {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .3rem;
    outline: 0;
  }
  
  .modal-header, .modal-body, .modal-footer {
    padding: 1rem;
  }
  
  .modal-title {
    margin: 0;
    line-height: 1.5;
  }
  
  .btn-close {
    background: none;
    border: none;
    font-size: 1.5rem;
  }
  