<div class="titulo">
  <h5>PRODUCTOS</h5>
</div>
<div class="forms">
  <label for="name">Nombre:
    <input class="border name-input" type="text" name="" id="name" [formControl]="title">
  </label>
  <label for="name">Precio:
    <input class="border price-input" type="text" name="" id="price" [formControl]="price">
  </label>
  <label for="name">Descripción:
    <input class="border description-input" id="description" [formControl]="description">
  </label>
  <label for="name">Imagen:
    <input class="border name-input" type="text" name="" id="images" [formControl]="images">
  </label>
  <div class="button-container" fxLayout="row" fxLayoutAlign="space-between">
    <button class="btt-agregar" (click)="onSummit()">Nuevo Producto</button>
    <p></p>
  </div>
</div>
<div class="container" *ngFor="let product of products">
  <ng-container *ngIf="product.id">
    <div class="card">
      <app-card [Product]="product"></app-card>
    </div>
  </ng-container>
</div>
