body {
  background-image: url('https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2017/07/28/15012578720825.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

  